/* === Reset & Base Styles === */
:root {
  --mocha-brown: 75, 54, 33;
  --taupe-beige: 217, 196, 176;
  --cream: 245, 240, 230;
  --soft-copper: 184, 107, 75;

  --text-primary: var(--mocha-brown);
  --text-light: var(--cream);
  --bg-primary: var(--taupe-beige);
  --button-bg: var(--soft-copper);
  --button-hover: var(--mocha-brown);
  --button-text: var(--cream);
}

html, body {
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  font-family: "Quicksand", sans-serif;
  color: rgba(var(--text-primary));
  background-color: rgba(var(--bg-primary));
  height: clamp(100vh, 100%, 100%);
  margin: 2%;
}

/* === Responsive === */
@media (max-width: 768px) {}