:root {
  --mocha-brown: 75, 54, 33;
  --taupe-beige: 217, 196, 176;
  --cream: 245, 240, 230;
  --soft-copper: 184, 107, 75;
  --text-primary: var(--mocha-brown);
  --text-light: var(--cream);
  --bg-primary: var(--taupe-beige);
  --button-bg: var(--soft-copper);
  --button-hover: var(--mocha-brown);
  --button-text: var(--cream);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

body {
  min-height: 100%;
  background-color: rgba(var(--bg-primary));
  color: rgba(var(--text-primary));
  display: flex;
  flex-direction: column;
  touch-action: manipulation;
  overflow-x: hidden;
}

main {
  flex: 1;
  font-family: var(--font-quicksand), sans-serif;
  background-color: rgba(var(--bg-primary));
  color: rgba(var(--text-primary));
  width: 100%;
}

section {
  margin-top: 2%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #67523d;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 800px) {
  html {
    scrollbar-width: none;
  }
  body {
    text-align: center;
  }
}
