.heading {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.caught_up {
  text-align: center;
  font-family: var(--font-quicksand), sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}