.motion {
  width: 100%;
  flex: 1;
  border-radius: 16px 16px 0 0 ;
  overflow: hidden;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 1);
  will-change: transform, opacity;
  background-color: rgba(var(--bg-primary));
  color: rgba(var(--text-primary));
  display: flex;
  flex-direction: column;
  transform-origin: top center;
}
