<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- setup -->
    <meta charset="UTF-8">
    <title>Sangita Roy | Author</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/static/js/script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icons -->
    <link rel="icon" type="image/png" href="/static/images/favicon" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radley:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  </head>
  <body> 
    <nav id="navbar">
      <div class="nav-links">
        <div class="logo">
          <img 
            src="/static/images/logo.png" 
            srcset="/static/images/logo.png 1x, /static/images/logo@2.png 2x" 
            alt="sroy logo">
        </div>
        <button id="menu-toggle" aria-label="Toggle Menu">&#9776;</button>
        <div id="menu-items" class="menu-items">
          <div class="nav-item"><a href="#about">About</a></div>
          <div class="nav-item"><a href="#work">Works</a></div>
          <div class="nav-item"><a href="#blog">Blog</a></div>
          <div class="nav-item"><a href="#contact">Contact</a></div>
        </div>
      </div>
    </nav>  

    <header>
      <div class="container fade-in">
        <h1 class="radley-regular">Where Fiction and the Soul of Nature Converge</h1>
        <p class="radley-italic">Exploring the intricate bond between humanity and the earth’s secrets.</p>
      </div>
    </header>
    <main>
      <section>
        <div class="container" id="about">
          <h2>About Me</h2>
          <p>I'm Sangita Roy, an author and poet with a passion for weaving tales that resonate with the heart and soul. My writing journey is a reflection of my love for nature, culture, and the human experience.
            My works delve into the intricate relationship between humanity and the natural world, exploring themes of love, loss, and the beauty of existence.</p>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 Sangita Roy. All rights reserved.</p> 
      <div class="social-icons">
        <a href="https://www.instagram.com/sroyauthor/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/sroyauthor" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/sangita-roy-067a88342/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://linktr.ee/sroyauthor" target="_blank" aria-label="Linktree"><i class="fas fa-link"></i></a>
      </div>
    </footer>
  </body>
</html>
